# 通用辅助文件
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

# Latexmk
*.latexmk
*.latexmkrc

Main.pdf
NSFC-MS26.pdf
